@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@200;300;400;500;600;700;800;900& display=swap');
*

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
body
{
    min-height: 100vh;
    background: #d1def8;
}
.navigation
{
    position: fixed;
    z-index: 2;
    top: 20px;
    left: 20px;
    height:700px;
    width: 205px;
    border-radius: 10px;
    border-left: 4px solid #ffffff11;
    background: #5b5f8bf9;
    transition: 0.5s;
    box-shadow: -35px -15px 150px -15px rgba(255, 255, 255, 0.332),2px 2px 50px 2px rgba(0, 0, 0, 0.279);
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 200;
    padding-left: 5px;
    padding-top:25px;
}
.navigation ul img
{
    position: relative;
    height: 250px;
    width: 250px;
    padding: 5px;
    left: -2.5px;
    top: -12.5px;
    border-radius: 125px;
    border-color: #3b3d8d;
    border-width: 3.5px;
    border-style: solid;
    box-shadow: 0px 0px 20px 0px rgba(179, 179, 179, 0.271), 3px 8px 20px 2px rgba(0, 0, 0, 0.271);
}

.navigation ul li
{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.navigation ul li:hover
{
    background: #618adc98;
}
.navigation ul li.active
{
    background: #d1def8;
}

.navigation ul li a
{ 
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #d1def8;
}

.navigation ul li.active a
{
    color: #333;
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    top: 15px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: 1.7em;
    position: relative;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
    animation: flip 0.7s 1;
    animation-delay: calc(.03s * var(--i));
}
@keyframes flip
{
    0%,10%
    {
        transform: rotateY(360deg);
    }
}
.Home
{
    position: relative;
    height: 80%;
}
@keyframes fadeIn
{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}
.Home b
{
    position: relative;
    display: block;
    align-items: center;
    top: 45%;
    left:10%;
    margin:auto;
    border: 2px solid rgb(175, 188, 213);
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    animation: fadeIn 1s;
    box-shadow: -5px -5px 14px 2px rgba(255, 255, 255, 0.405), 4px 4px 10px 2px rgba(196, 196, 196, 0.674);
}
@keyframes fadeIn
{
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}
.Home b span
{
    position: relative;
    display: inline-block;
    text-shadow: 1px 1px 1px#6f6f70b1;
    font-size: 40px;
    color: rgba(70, 70, 70, 0.799);
    animation: flip 0.7s 1;
    animation-delay: calc(.03s * var(--i));
}
@keyframes flip
{
    0%,10%
    {
        transform: rotateY(360deg);
    }
}
.Header
{
    position: relative;
    height: 80px;
    width: 100%;
    background-color: #333333f4;
    border-bottom: 3px solid;
    border-color: #0000001e;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.674);
    z-index: 1;
}
.Header2
{
    position: relative;
    height: 80px;
    width: 100%;
    background-color: #333333f4;
    border-bottom: 3px solid;
    border-color: #0000001e;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.674);
    z-index: 1;
}
.Profile
{
    position: relative;
    align-self: flex-start;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid #d2d5ed;
    background: #e1e2f1;
    transition: 0.5s;
    padding-right: 40px;
    padding-bottom: 40px;
}
.Profile h1
{
    position: relative;
    text-shadow: 1px 1px 1px#6f6f70b1;
    color: rgba(70, 70, 70, 0.799);
    font-size: 40px;
    top: 20px;
    padding-left: 330px;
}
.Profile h2
{
    position: relative;
    text-shadow: 1px 1px 1px#6f6f70b1;
    color: rgba(70, 70, 70, 0.799);
    font-size: 30px;
    top: 20px;
    padding-left: 340px;
}
.Profile h2 a
{
    text-shadow: 1px 1px 1px#6f6f70b1;
    color: rgba(70, 70, 70, 0.799);
    font-size: 40px;
    animation: fadeIn 1s infinite;
}
@keyframes fadeIn
{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
.ProfileBar
{
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #333333f4;
    border-bottom: 3px solid;
    border-color: #0000001e;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.674);
    z-index: 1;
}

.Skills
{
    position: relative;
    align-self: flex-start;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid #d2d5ed;
    background: #e1e2f1;
    transition: 0.5s;
    padding-right: 40px;
    padding-bottom: 40px;
}
.Skills h1
{
    position: relative;
    text-shadow: 1px 1px 1px#6f6f70b1;
    color: rgba(70, 70, 70, 0.799);
    font-size: 40px;
    top: 20px;
    padding-left: 330px;
}
.Skills h2
{
    position: relative;
    text-shadow: 1px 1px 1px#6f6f70b1;
    color: rgba(70, 70, 70, 0.799);
    font-size: 30px;
    top: 20px;
    padding-left: 340px;
}
.SKills p
{
    position: relative;
    top: 20px;
    padding-left: 300px;
}
.SkillsBar
{
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #333333f4;
    border-bottom: 3px solid;
    border-color: #0000001e;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.674);
    z-index: 1;
}
.Projects
{
    position: relative;
    align-self: flex-start;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid #d2d5ed;
    background: #e1e2f1;
    transition: 0.5s;
    padding-right: 40px;
    padding-bottom: 40px;
}
.Projects h1
{
    position: relative;
    text-shadow: 1px 1px 1px#6f6f70b1;
    color: rgba(70, 70, 70, 0.799);
    font-size: 40px;
    top: 20px;
    padding-left: 330px;
}
.Projects h2
{
    position: relative;
    text-shadow: 1px 1px 1px#6f6f70b1;
    color: rgba(70, 70, 70, 0.799);
    font-size: 30px;
    top: 20px;
    padding-left: 340px;
}
.Projects p
{
    position: relative;
    top: 20px;
    padding-left: 300px;
}
.ProjectsBar
{
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #333333f4;
    border-bottom: 3px solid;
    border-color: #0000001e;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.674);
    z-index: 1;
}
.Experience
{
    position: relative;
    align-self: flex-start;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid #d2d5ed;
    background: #e1e2f1;
    transition: 0.5s;
    padding-right: 40px;
    padding-bottom: 40px;
}
.Experience h1
{
    position: relative;
    text-shadow: 1px 1px 1px#6f6f70b1;
    color: rgba(70, 70, 70, 0.799);
    font-size: 40px;
    top: 20px;
    padding-left: 330px;
}
.Experience h2
{
    position: relative;
    text-shadow: 1px 1px 1px#6f6f70b1;
    color: rgba(70, 70, 70, 0.799);
    font-size: 30px;
    top: 20px;
    padding-left: 340px;
}
.Experience p
{
    position: relative;
    top: 20px;
    padding-left: 300px;
}
.ExperienceBar
{
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #333333f4;
    border-bottom: 3px solid;
    border-color: #0000001e;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.674);
    z-index: 1;
}
.Education
{
    position: relative;
    align-self: flex-start;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid #d2d5ed;
    background: #e1e2f1;
    transition: 0.5s;
    padding-right: 40px;
    padding-bottom: 40px;
}
.Education h1
{
    position: relative;
    text-shadow: 1px 1px 1px#6f6f70b1;
    color: rgba(70, 70, 70, 0.799);
    font-size: 40px;
    top: 20px;
    padding-left: 330px;
}
.Education h2
{
    position: relative;
    text-shadow: 1px 1px 1px#6f6f70b1;
    color: rgba(70, 70, 70, 0.799);
    font-size: 30px;
    top: 20px;
    padding-left: 340px;
}
.Education p
{
    position: relative;
    top: 20px;
    padding-left: 300px;
}
.EducationBar
{
    position: relative;
    height: 20px;
    width: 100%;
    background-color: #333333f4;
    border-bottom: 3px solid;
    border-color: #0000001e;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.674);
    z-index: 1;
}
.Tailer
{
    position: relative;
    height: 160px;
    width: 100%;
    background-color: #333333f4;
    border-bottom: 3px solid;
    border-color: #0000001e;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.674);
    z-index: 1;
}
.Tailer ul
{
    padding-left: 80%;
}
.Tailer ul .icon
{
    position: relative;
    display: inline-block;
    min-width: 30px;
    height: 30px;
    top: 50px;
    padding-left: 30px;
}
.Tailer ul .icon ion-icon
{
    font-size: 2em;
    position: relative;
}
